<div class="container">
  <div>
    <h2>Personas a notificar:</h2>
    <ul>
      <li *ngFor="let person of peopleToNotify">{{ person.person.name }}</li>
    </ul>
  </div>
  <div class="form-notification">
    <form [formGroup]="notifyForm" (ngSubmit)="onSubmit()">
      <label for="actions">Tipo de notificación: </label>
      <select formControlName="type" name="actions" id="actions">
        <option value="1">Ingreso de internación</option>
        <option value="2">Egreso de internación</option>
        <option value="3">Detección de casos de COVID-19</option>
        <option value="4">Alta de nuevos casos</option>
        <option value="5">Seguimiento de casos</option>
        <option value="6">Laboratorio</option>
      </select>

      <label for="motive">Motivo</label>
      <input
        formControlName="motive"
        type="text"
        name="motive"
        id="motive"
        placeholder="Escribe el motivo"
      />

      <label for="diagnostic">Diagnostico</label>
      <textarea
        formControlName="diagnostic"
        type="text"
        name="diagnostic"
        id="diagnostic"
        placeholder="Escribe el motivo"
      ></textarea>
      <div class="form-action">
        <button type="submit">Enviar</button>
        <button (click)="cancel()" type="reset">Cancelar</button>
      </div>
    </form>
  </div>
</div>
