<div class="container">
  <div class="filter-input">
    <h3>Filtrar por:</h3>
    <div class="input-button">
      <input
        id="input-filter"
        type="text"
        [ngModel]="filterValue"
        placeholder="Ingrese el valor que desea filtrar"
      />
      <button class="button-filter">Filtrar</button>
    </div>
  </div>
  <table>
    <tr>
      <th>Nombre y apellido</th>
      <th>Documento</th>
      <th>MRN</th>
      <th>Estado</th>
      <th>
      </th>
    </tr>
    <tr
      *ngFor="
        let person of people
          | paginate: { itemsPerPage: 5, currentPage: page }
      "
      (click)="detail(person)"
    >
      <td>{{ person.name }}</td>
      <td>{{ person.document }}</td>
      <td>{{ person.mrn }}</td>
      <td>{{ person.state }}</td>
      <td>
        <label class="detail">Ver detalle</label>
      </td>
    </tr>
  </table>
  <div class="table-pagination">
    <pagination-controls
      class="pagination-component"
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      directionLinks="true"
      autoHide="true"
      responsive="true"
    >
    </pagination-controls>
  </div>
</div>
