.container {
	margin-right:auto;
  margin-left:auto;
	display:flex;
	justify-content:center;
  align-items: center;
  flex-direction: column;
}

table {
	width:100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th {
	display:flex;
	width:100%;
  background:#0c655a;
  color: white;
  padding:(12 * 1.5) 0;
  font-size: 30px;
  text-transform:uppercase;
  text-align: center;
}

tr {
	display:flex;
	width:100%;
  padding:(12 * 1.5) 0;
  border-bottom: black 1px solid;
}

tr:hover {
  background-color: lightgreen;
}

th,td {
  flex: 1 1 20%;
  font-size: 23px;
  /* text-align:center; */
  align-items: center;
}

td {
  margin: 5px;
  cursor: pointer;
}

.checkbox {
  transform: scale(2);
}

.table-selected-row {
  background-color: grey;
  color: white;
}

.filter-input {
  width: 100%;
  display: grid;
}

.input-button {
  display: flex;
  justify-content: space-between;
}

#input-filter {
  width: 100%;
}

.table-pagination {
  align-items: center;
}

.pagination-component /deep/ .ngx-pagination .current {
  color: white;
  background-color: #0c655a;
}

.pagination-component /deep/ .ngx-pagination .current:hover {
  color: black;
  background-color: greenyellow;
}

.notification-button {
  transform: scale(2);
  background-color: red;
}

.notification-button:hover {
  background-color: pink;
}
