.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #0c655a;
  color: white;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 5px 5px #0c655a;
}

.toolbar-spacer {
  flex: 1;
}

.toolbar-element-active {
  color: lightblue;
  text-decoration: overline;
}

.toolbar-element {
  height: 40px;
  margin: 0 16px;
  font-size: 30px;
}

.toolbar-element:hover {
  opacity: 0.8;
  cursor: pointer;
  color:greenyellow;
  text-shadow: 1px 1px 5px grey;
}

.content {
  margin-top: 85px;
  margin-left: 20px;
  margin-right: 20px;
}

.logo {
  margin-left: 15px;
  margin-right: 30px;
}

#covid {
  height: 90px;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.covid {
  color: pink;
}

