<div class="container">
  <div class="welcome-image">
    <img src="../../assets/coronavirus.png" />
  </div>
  <div class="info-text">
    <p>
      Aplicación para poder visualizar y notificar al gobierno los datos de los
      pacientes que recibieron asistencia relacionada a COVID-19.
    </p>
    <p>
      De corresponder la información relevante a su seguimiento asistencial, los
      datos correspondientes a los ingresos y egresos de internación, y los
      resultados de laboratorio.
    </p>
    <p>
      En la bandeja se pueden visualizar los pacientes que han tenido algún tipo
      de contacto con COVID-19.
    </p>
    <div class="powered-by">
      <code> Realizada por Desarrollo-Mutualista Hosptial Evangélico </code>
    </div>
  </div>
</div>
